
html, body {
	user-select: none;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	display: flex;
	flex-flow: column;
	align-items: center;
}

#board-container {
	display: grid;
	height: 100%;
	width: auto;
}
#board {
	display: grid;
	max-width: 90vmin;
	aspect-ratio: 1 / 1;
	margin: 3vmin;
	outline: 0.2vmin solid black;
}
.tile {
	display: grid;
	border: 0.2vmin solid black;
	overflow: hidden;
}
.tile-roundnum {
	position: absolute;
	justify-self: end;
	padding: 0.75vmin;
	pointer-events: none;
}
.tile-special {
	position: absolute;
	width: 3vmin;
	height: 3vmin;
	font-size: 1.5vmin;
	text-align: center;
	justify-self: start;
	margin: 0.2vmin;
	padding: 0.2vmin;
	box-sizing: border-box;
	pointer-events: none;
}
.highlight-possible {
	background-color: lightgray;
	cursor: pointer;
}
.exit {
	position: absolute;
	height: 5vmin;
	width: 2.5vmin;
	pointer-events: none;
}
.exit > .arrow {
	height: 100%;
	width: 100%;
	background-color: blue;
	opacity: 66%;
	clip-path: polygon(0% 75%, 50% 50%, 100% 75%,
	                   75% 75%, 75% 100%,
					   25% 100%, 25% 75%);
}
.exit > hr {
	position: absolute;
	width: 3.25vmin;
	align-self: center;
	margin: auto;
	border-bottom-color: black;
	border-bottom-width: 0.3vmin;
	border-top-color: black;
	border-top-width: 0.3vmin;
	border-left-width: 0;
	border-right-width: 0;
	transform: rotate(90deg) translate(-1.9vmin, 0.4vmin);
}

#toolbar {
	visibility: hidden;
}
#counters {
	position: absolute;
}
#controls {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 1vmin;
	width: 90vmin;
	justify-content: center;
	margin-top: 1vmin;
}
#controls > button {
	border: 0.3vmin solid black;
	background-color: transparent;
	cursor: pointer;
}

#possible-dice {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 1vmin;
	height: 6vmin;
	width: 90vmin;
	justify-content: center; 
	margin-top: 1vmin;
	padding-bottom: 1vmin;
	border-bottom: 0.3vmin solid black;
	cursor: inherit;
}
#rolling-dice {
	display: block;
	height: 12vmin;
	width: auto;
	margin-top: 1vmin;
}
#rolling-dice #start-game {
	height: 50%;
	width: auto;
	border: 0.3vmin solid black;
	background-color: transparent;
	cursor: pointer;
}
#rolling-dice .die {
	margin-left: 1vmin;
	margin-right: 1vmin;
	cursor: pointer;
}
.die {
	height: 100%;
	width: auto;
	aspect-ratio: 1 / 1;
	background-color: white;
	border-radius: 10%;
	padding: 0;
	border: 0.6vmin solid black;
	overflow: hidden;
	pointer-events: none;
}

.route {
	display: grid; 
	grid-template: auto auto / auto auto;
	height: 100%;
	width: 100%;
	pointer-events: auto;
}
.route > div {
	border-width: 0.3vmin;
	border-color: black;
	overflow: hidden;
	pointer-events: none;
}
.station {
	position: absolute;
	align-self: center;
	justify-self: center;
	height: 1.5vmin;
	width: 1.5vmin;
	background-color: black;
}
.straight-highway {
	.q1,.q3 { border-right-style: solid; }
	.q2,.q4 { border-left-style: solid; }
}
.straight-railway {
	.q1,.q3 { border-right-style: dashed; }
	.q2,.q4 { border-left-style: dashed; }
}
.curved-highway {
	.q4 { border-left-style: solid; border-top-style: solid; }
	.q3 { border-right-style: solid; }
	.q2 { border-bottom-style: solid; }
}
.curved-railway {
	.q4 { border-left-style: dashed; border-top-style: dashed; }
	.q3 { border-right-style: dashed; }
	.q2 { border-bottom-style: dashed; }
}
.t-junction-highway {
	.q1,.q2 { border-bottom-style: solid; }
	.q3,.q4 { border-top-style: solid; }
	.q3 { border-right-style: solid; }
	.q4 { border-left-style: solid; }
}
.t-junction-railway {
	.q1,.q2 { border-bottom-style: dashed; }
	.q3,.q4 { border-top-style: dashed; }
	.q3 { border-right-style: dashed; }
	.q4 { border-left-style: dashed; }
}
.t-junction-station-1 {
	.q1,.q3 { border-right-style: solid; }
	.q2,.q4 { border-left-style: solid; }
	.q2 { border-bottom-style: dashed; }
	.q4 { border-top-style: dashed; }
}
.t-junction-station-2 {
	.q1,.q3 { border-right-style: dashed; }
	.q2,.q4 { border-left-style: dashed; }
	.q2 { border-bottom-style: solid; }
	.q4 { border-top-style: solid; }
}
.straight-station {
	.q1 { border-right-style: solid; }
	.q2 { border-left-style: solid; }
	.q3 { border-right-style: dashed; }
	.q4 { border-left-style: dashed; }
}
.curved-station {
	.q2 { border-bottom-style: solid; }
	.q4 { border-top-style: solid; }
	.q3 { border-right-style: dashed; }
	.q4 { border-left-style: dashed; }
}
.double-curved-highway {
	.q1,.q4 { 
		border-style: solid;
		border-width: 0.25vmin;
		border-radius: 50%;
	}
	.q1 { transform: scale(2.2) translate(-25%, -25%); }
	.q4 { transform: scale(2.2) translate( 25%,  25%); }
}
.double-curved-railway {
	.q1,.q4 { 
		border-style: dashed;
		border-width: 0.25vmin;
		border-radius: 50%;
	}
	.q1 { transform: scale(2.2) translate(-25%, -25%); }
	.q4 { transform: scale(2.2) translate( 25%,  25%); }
}
.dead-end-highway {
	.q1 { border-bottom-style: solid; }
	.q3 { border-top-style: solid; }
}
.dead-end-railway {
	.q1 { border-bottom-style: dashed; }
	.q3 { border-top-style: dashed; }
}
.overpass {
	.q1,.q2 { border-bottom-style: dashed; }
	.q3,.q4 { border-top-style: dashed; }
	.q1,.q3 { border-right-style: solid; }
	.q2,.q4 { border-left-style: solid; }
	.tunnel {
		position: absolute;
		align-self: center;
		justify-self: center;
		height: 3vmin;
		width: 1vmin;
		border-left-style: solid;
		border-left-width: 0.3vmin;
		border-right-style: solid;
		border-right-width: 0.3vmin;
	}
}
