
:root {
	--player-size: '';
	--station-size: '';
	--planet-color: '';
}

html {
	overflow: hidden;
}

body, input {
	font-family: "Lucida Console";
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	border-style: solid;
	border-color: white;
	border-width: 5vh 5vw 5vh 5vw;
}

#background {
	height: 90vh;
	width: 90vw;
	background-color: black;
	z-index: 10;
}
.star {
	position: absolute;
	height: 1vmin;
	width: 1vmin;
	clip-path: polygon(40% 40%, 50% 0%, 60% 40%, 100% 50%, 
	                   60% 60%, 50% 100%, 40% 60%, 0% 50%);
	background-color: white;
	z-index: 11;
}

#loadingscreen {
	position: absolute;
	text-align: center;
	color: white;
	z-index: 12;
}

#planet {
	position: absolute;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	background-image: var(--planet-color);
	transform: translate(0, 0);
	z-index: 50;
}

#station {
	position: absolute;
	height: calc(5 * var(--station-size));
	width: calc(5 * var(--station-size));
	clip-path: polygon( 60%  40%,  65%  35%,  95%  35%, 100%  40%, 
	                   100%  60%,  95%  65%,  65%  65%,  60%  60%, 
					    60% 100%,  40% 100%, 
					    40%  60%,  35%  65%,   5%  65%,   0%  60%, 
					     0%  40%,   5%  35%,  35%  35%,  40%  40%, 
					    40%   0%,  60%   0%);
	background-color: #dddde4;
	box-shadow: calc(+0.3 * var(--station-size)) 0px #aa9472 inset, 
	            calc(-0.3 * var(--station-size)) 0px #aa9472 inset;
	transform: translate(0, 0);
	z-index: 51;
}
#station-solarpanels {
	position: relative;
	width: calc(1.0 * var(--station-size));
	height: calc(5.0 * var(--station-size));
	background-color: #dddde4;
	box-shadow: 0px calc(+1.95 * var(--station-size)) #4066c3 inset, 
	            0px calc(-1.95 * var(--station-size)) #4066c3 inset;
	transform: translate(calc(2 * var(--station-size)),
	                     calc(0 * var(--station-size)));
}
#station-window {
	position: absolute;
	width: calc(0.7 * var(--station-size));
	height: calc(0.7 * var(--station-size));
	border-radius: 30%;
	background-color: black;
	transform: translate(calc(+0.7 * var(--station-size)),
	                     calc(-3.0 * var(--station-size)));
}

#player {
	position: absolute;
	transform: translate(0, 0) rotate(0deg);
	z-index: 100;
}
#player-nose {
	position: relative;
	border-top: var(--player-size) solid transparent;
    border-left: var(--player-size) solid transparent;
    border-right: var(--player-size) solid transparent;
    border-bottom: calc(2 * var(--player-size) * 0.8) solid red;
	transform: translateY(0);
	z-index: 104;
}
#player-hull {
	position: relative;
	height: calc(2 * var(--player-size));
	width: calc(2 * var(--player-size));
	background-color: white;
	transform: translateY(0);
	z-index: 103;
}
#player-engine {
	position: relative;
	border-top: var(--player-size) solid transparent;
    border-left: var(--player-size) solid transparent;
    border-right: var(--player-size) solid transparent;
    border-bottom: calc(2 * var(--player-size) * 1.0) solid grey;
	transform: translateY(calc(var(--player-size) * -2.0));
	z-index: 102;
}
#player-fire-down {
	position: absolute;
	height: calc(1 * var(--player-size));
	width: calc(2 * var(--player-size));
	clip-path: polygon(20% 0%, 80%  0%, 100% 100%, 
	                           66% 50%,  50% 100%, 
							   33% 50%,   0% 100%);
	background-color: orange;
	transform: translateY(calc(var(--player-size) * -2.0));
	visibility: hidden;
	z-index: 101;
}
#player-fire-left {
	position: absolute;
	height: calc(1 * var(--player-size));
	width: calc(2 * var(--player-size));
	clip-path: polygon(20% 0%, 20% 40%,  5%  40%, 
	                   10% 70%, 0% 80%, 50% 100%);
	background-color: orange;
	transform: translateY(calc(var(--player-size) * 1.0));
	visibility: hidden;
	z-index: 101;
}
#player-fire-right {
	position: absolute;
	height: calc(1 * var(--player-size));
	width: calc(2 * var(--player-size));
	clip-path: polygon(80%  0%,  80% 40%, 95%  40%, 
	                   90% 70%, 100% 80%, 50% 100%);
	background-color: orange;
	transform: translateY(calc(var(--player-size) * 1.0));
	visibility: hidden;
	z-index: 101;
}

#player-position {
	position: absolute;
	bottom: 1.5vh;
	font-size: 2vh;
	color: black;
	z-index: 20;
}
