
:root {
	--player-size: '';
}

html {
	overflow: hidden;
}

body, input {
	font-family: "Lucida Console";
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	border-style: solid;
	border-color: white;
	border-width: 5vh 5vw 5vh 5vw;
}

#background {
	height: 90vh;
	width: 90vw;
	background-color: black;
	z-index: 10;
}
.star {
	position: absolute;
	height: 1vmin;
	width: 1vmin;
	clip-path: polygon(40% 40%, 50% 0%, 60% 40%, 100% 50%, 60% 60%, 50% 100%, 40% 60%, 0% 50%);
	background-color: white;
	z-index: 11;
}

#planet {
	position: absolute;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	background-image: linear-gradient(green, blue);
	transform: translate(0, 0);
	z-index: 50;
}

#station {
	position: absolute;
	height: var(--player-size);
	width: calc(3 * var(--player-size));
	background-color: grey;
	transform: translate(0, 0);
	z-index: 51;
}

#player {
	position: absolute;
	transform: translate(0, 0) rotate(0deg);
	z-index: 100;
}
#player-nose {
	position: relative;
	border-top: var(--player-size) solid transparent;
    border-left: var(--player-size) solid transparent;
    border-right: var(--player-size) solid transparent;
    border-bottom: calc(2 * var(--player-size) * 0.8) solid red;
	transform: translateY(0);
	z-index: 104;
}
#player-hull {
	position: relative;
	height: calc(2 * var(--player-size));
	width: calc(2 * var(--player-size));
	background-color: white;
	transform: translateY(0);
	z-index: 103;
}
#player-engine {
	position: relative;
	border-top: var(--player-size) solid transparent;
    border-left: var(--player-size) solid transparent;
    border-right: var(--player-size) solid transparent;
    border-bottom: calc(2 * var(--player-size) * 1.0) solid grey;
	transform: translateY(calc(var(--player-size) * -2.0));
	z-index: 102;
}
#player-fire-down {
	position: absolute;
	height: calc(1 * var(--player-size));
	width: calc(2 * var(--player-size));
	clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 66% 50%, 50% 100%, 33% 50%, 0% 100%);
	background-color: orange;
	transform: translateY(calc(var(--player-size) * -2.0));
	visibility: hidden;
	z-index: 101;
}
#player-fire-left {
	position: absolute;
	height: calc(1 * var(--player-size));
	width: calc(2 * var(--player-size));
	clip-path: polygon(20% 0%, 20% 40%, 5% 40%, 10% 70%, 0% 80%, 50% 100%);
	background-color: orange;
	transform: translateY(calc(var(--player-size) * 1.0));
	visibility: hidden;
	z-index: 101;
}
#player-fire-right {
	position: absolute;
	height: calc(1 * var(--player-size));
	width: calc(2 * var(--player-size));
	clip-path: polygon(80% 0%, 80% 40%, 95% 40%, 90% 70%, 100% 80%, 50% 100%);
	background-color: orange;
	transform: translateY(calc(var(--player-size) * 1.0));
	visibility: hidden;
	z-index: 101;
}

#player-position {
	position: absolute;
	bottom: 1.5vh;
	font-size: 2vh;
	color: black;
	z-index: 20;
}
