
html {}

body, input {
	font-family: "Lucida Console";
}

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 98vh;
	margin: 0;
	align-items: center;
	justify-items: center;
}

#background {
	position: absolute;
	background-color: black;
	height: 66vmin;
	width: 66vmin;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
}

#counter {
	position: absolute;
	transform: translateY(35vmin);
	font-size: 3vmin;
}

#reload {
	position: absolute;
	transform: translateY(-35vmin);
	visibility: hidden;
	background-color: transparent;
	padding: 1vmin;
	font-size: 2vmin;
}

.tile {
	border: 0.3vmin solid white;
}
.tile-touched {
	border: 0.3vmin solid black;
	background-color: #ffa94d;
}
.tile-goal {
	border: 0.3vmin solid white;
	background-color: green;
}
.tile-changing {
	border: 0.3vmin solid white;
	background-color: yellow;
}
.tile-avoid {
	border: 0.3vmin solid white;
	background-color: red;
}
.tile-lost {
	border: 0.3vmin solid black;
	background-color: white;
}
